# Visual Studio
.vs/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal

# VS FileContentIndex
FileContentIndex/
*.vsidx

# DesignTimeBuild
DesignTimeBuild/
*.dtbcache.v2

# SLNX
*.slnx
*.sqlite

# Bin/Obj
bin/
obj/
